<!DOCTYPE html>
<html lang="en" ng-app="trainApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trainline scheduler">
    <meta name="author" content="Richard Strutt">
    <link rel="icon" href="../../favicon.ico">
    <title>Transportation App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/idb.min.js"></script>
    <script src="lib/moment.js"></script>
    <script src="lib/ui-bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <!-- Typeahead-->
    <div class="container-fluid">
        <h2>Capital Corridor</h2>
        <p>Intercity Rail Train times</p>
        <div class="help-tool-5 ht">No connection</div>
        <div class="form-group" ng-controller="MainController">
            <!--Typeahead 1-->
            <label for="stations">From</label>
            <input name="stations" id="station_1" type="text" placeholder="Name of station" ng-model="selected" uib-typeahead="s for s in stations | limitTo:20 | filter:$viewValue" class="form-control">
            <div class="help-tool-1 ht">Input a station</div>
            <!--Typeahead 2-->
            <label for="stations">To</label>
            <input name="stations" id="station_2" type="text" placeholder="Name of station" ng-model="sb" uib-typeahead="s for s in stations | limitTo:20 | filter:$viewValue" class="form-control">
            <div class="help-tool-2 ht">Input a station</div>
            <div class="help-tool-3 ht">Same station name, change to another</div>
            <!--Modal picker-->
            <div class="btn-group">
                <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="0" uncheckable>Departing</label>
                <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="1" uncheckable>Arriving</label>
            </div>
            <!--Date picker-->
            <div class="row">
                <div class="col-md-6">
                    <label for="when">When</label>
                    <p class="input-group">
                        <input type="text" class="form-control" id="when" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="help-tool-4 ht">Invalid date</div>
            <!--Time picker-->
            <div class="at-container">
                <label class="at-label" for="time">at</label>
                <div id="time" uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                <button class="btn btn-success btn-check" ng-click="check()">Check times</button>
            </div>
            <div class="noTrains">
                <div class="noTrainText">No trains are travelling at the selected input times</div>
            </div>
            <table ng-show="myValue" class="tableTimes">
                <thead>
                    <tr>
                        <th>Departure</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Arrival</th>
                        <th>Duration</th>
                        <th>Stops</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-1">
                        <td>{{trainTimes.Departure}}</td>
                        <td>{{trainTimes.From}}</td>
                        <td>{{trainTimes.To}}</td>
                        <td>{{trainTimes.Arrival}}</td>
                        <td>{{trainTimes.Duration}}</td>
                        <td>{{trainTimes.Stops.numStops}}
                        </td>
                    </tr>
                    <tr class="tr-2">
                        <td colspan="6"><span ng-repeat='stops in trainTimes.Stops.listStops'>{{stops}}, </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
